.image{
  &--detail{
    width:50.75rem;
  }
  &--icon{
    width:1.5rem;
    @media (max-width: 767px){
      width:1rem;
    }
  }
  &--logoLight{
    width: 10rem;
    margin-top: -2.5rem;
    @media (max-width: 1024px){
      
      display: none;
    }
  }
  &--list{
    width:100%;
  }
  &--hero{
    width:100%;
    height: 100%;
    object-fit: cover;
  }
  &--logoDark{
    margin-top: 0;
      width: 6rem;
      margin-left: 1rem;
    @media (min-width: 1025px){
      display: none;
    }
  }
}