header{
  width:100%;
  position: relative;
  
}
.upNav{
  width:100%;
  height: 3rem;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#000;
  &__links{
    display:flex;
    justify-content: flex-end;
    align-items: start;
    a{
      color:#fff;
      font-weight: 700;
      font-size: 16px;
      margin-left: 4rem;
      text-decoration: none;
      transition: all .3s ease-in-out;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  @media (max-width: 1024px){
    display:none;
  }
}
.mainNav{
  width:100%;
  height: 6.25rem;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#000;

  &__wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    &__burger{
      display: none;
    }
    &__links{
      display:flex;
      justify-content: flex-end;
      align-items: start;
     
      a, div{
        color:#fff;
        font-weight: 700;
        font-size: 16px;
        margin-left: 4rem;
        text-decoration: none;
        transition: all .3s ease-in-out;
        display:flex;
        align-items: flex-end;
        &:hover{
          text-decoration: underline;
        }
        img{
          margin-right: .5rem;
        }
        @media (max-width: 1024px){
          span{
            display:none;
          }
          margin: 0;
          margin-left: 1rem;
          
        }
        
      }
      div{
        margin-top: -.25rem;
        cursor: pointer;
      }
     @media (max-width: 1024px){
      justify-content: center;
      align-items: start;
      
      &__light{
        display: none !important;
      }
     }
     @media (min-width: 1025px){
      &__dark{
        display: none !important;
        span{
          display:none;
        }
      }
     }
    }
    @media (max-width: 1024px){
      &__burger{
        display: inline;
        
      }
    }
    @media (max-width: 1024px){
      justify-content: space-between;
    }
  }
  @media (max-width: 1024px){
    background-color:#ff8c00;
  }
}
.subNav{
  width:100%;
  height: 3.75rem;
  background-color:#ff8c00;
  display:flex;
  justify-content: center;
  align-items: center;
  &__list{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    a{
      color:#fff;
      font-size: 1rem;
      font-weight: 700;
      text-decoration: none;
      transition: all .3s ease-in-out;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  @media (max-width: 1024px){
    display:none;
  }

}
.active{
  color:#000 !important;
}
.mainActive{
  color:#ff8c00 !important;
}

.account__modal{
  z-index: 1000;
  width: 20rem;
  background-color:#000;
  border: 1px solid #ff8c00;
  padding: 1rem;
  display: absolute;
  flex-direction: column;
  position: fixed;
  top: 8.9rem;
  right:14.75rem;
  display: none;
  @media (max-width:1024px){
    width:16rem;
    top: 6.2rem;
    right:16%;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    strong{
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }
    span{
      font-size: 1.5rem;
      margin-bottom: 4rem;
      color: #ff8c00;
      cursor: pointer;
    }
  }
  
  &__wrapper{
    display: flex;
    flex-direction: column;
    a, span{
      cursor: pointer;
      text-decoration: none;
      color: #fff;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ff8c00;
      transition: all .3s ease-in-out;
      &:hover{
        color: #ff8c00 !important;
      }
    }
  }
}