header{
  width:100%;
}
.upNav{
  width:100%;
  height: 3rem;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#000;
  &__links{
    display:flex;
    justify-content: flex-end;
    align-items: start;
    a{
      color:#fff;
      font-weight: 700;
      font-size: 16px;
      margin-left: 4rem;
      text-decoration: none;
      transition: all .3s ease-in-out;
      &:hover{
        text-decoration: underline;
      }
    }
  }

}
.mainNav{
  width:100%;
  height: 6.25rem;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#000;
  &__wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    &__links{
      display:flex;
      justify-content: flex-end;
      align-items: start;
      a{
        color:#fff;
        font-weight: 700;
        font-size: 16px;
        margin-left: 4rem;
        text-decoration: none;
        transition: all .3s ease-in-out;
        &:hover{
          text-decoration: underline;
        }
        img{
          margin-right: .5rem;
        }
      }
    }
  }

}
.subNav{
  width:100%;
  height: 3.75rem;
  background-color:#ff8c00;
  display:flex;
  justify-content: center;
  align-items: center;
  &__list{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    a{
      color:#fff;
      font-size: 1rem;
      font-weight: 700;
      text-decoration: none;
      transition: all .3s ease-in-out;
      &:hover{
        text-decoration: underline;
      }
    }
  }

}

.mainActive{
  color:#ff8c00 !important;
}